.home {
  text-align: center;
  padding: 0px;
  background-image: url("background2.jpg"); /* 替換成你的圖片路徑 */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    max-width: 80px;
    margin: 10px auto;
  }
  
  .game-buttons button {
    padding: 40px;
    font-size: 32px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
  }
  
  .game-buttons button:hover {
    background-color: #000000;
    color: #ffffff;
  }
  